<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165091041227-gvrgu6ia0remekl0lh3ojoodud1ado1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165091041227-gvrgu6ia0remekl0lh3ojoodud1ado1m</string>
	<key>API_KEY</key>
	<string>AIzaSyClz1emyJrI5ibNH-_j7Dv-UKBIzK9CE_8</string>
	<key>GCM_SENDER_ID</key>
	<string>165091041227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmong42.Argent</string>
	<key>PROJECT_ID</key>
	<string>argent-8fbd7</string>
	<key>STORAGE_BUCKET</key>
	<string>argent-8fbd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165091041227:ios:ab6889008b9c714e49e04e</string>
</dict>
</plist>